<div id="container">
  <div id="navigation">
    <div id="search">
      <%= form_tag %>
      <%= text_field_tag "search", nil, class: "round" %>
    </div>

    <%= render partial: 'events', locals: {events: @events} %>

  </div>
  <div id="details">
    <div class="background">
      <div class="backgroundCover">
      </div>
      <div class="titlecard">
        <h1>
          Event Title
        </h1>
      </div>
    </div>
    <div class="infocard">
      
    </div>
  </div>
</div>
