<div id="container">
  <div id="navigation">
    <div id="search">
      <%= form_tag %>
      <%= text_field_tag "search", nil, class: "round" %>
    </div>

    <%= render partial: 'events', locals: {events: @events} %>

  </div>
  <div id="details">
    <div class="background">
      <div class="backgroundCover">
      </div>
      <div class="titlecard">
        <h1>
          Event Title
        </h1>
        <h3>
          Location Goes Here
        </h3>
        <div class="headerTags">
          <div class="singleTag">
            organic
          </div>
          <div class="singleTag">
            utopia
          </div>
          <div class="singleTag">
            forever
          </div>
        </div>
      </div>
    </div>
    <div class="infocard">
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet, ut denique offendit mel, et quod ferri eos, quo aperiam maiestatis te. No hinc vidisse maluisset nam, aliquam deserunt nam ad, an amet nullam inciderint pri. Dolore nusquam his te, lorem latine petentium ei mea. Te nam congue postea maluisset, appareat definitiones eam ex, duis brute omnesque ex nam.
        </p>
      </div>
      <div class="description even">
        <p>
          Lorem ipsum dolor sit amet, ut denique offendit mel, et quod ferri eos, quo aperiam maiestatis te. No hinc vidisse maluisset nam, aliquam deserunt nam ad, an amet nullam inciderint pri. Dolore nusquam his te, lorem latine petentium ei mea. Te nam congue postea maluisset, appareat definitiones eam ex, duis brute omnesque ex nam.
        </p>
      </div>
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet, ut denique offendit mel, et quod ferri eos, quo aperiam maiestatis te. No hinc vidisse maluisset nam, aliquam deserunt nam ad, an amet nullam inciderint pri. Dolore nusquam his te, lorem latine petentium ei mea. Te nam congue postea maluisset, appareat definitiones eam ex, duis brute omnesque ex nam.
        </p>
      </div>
    </div>
  </div>
</div>
